<div style="text-align: center;padding-top: 200px;" ng-controller="SettingCtrl">
	<div class="setting-row">
		<p>邀请医生集团加入公司，点击“复制链接”，将邀请码发送给医生</p>
	</div>
	<div class="setting-row">
		<span class="invitation" ng-model="copy1">邀请码：zxc123</span>
		<button class="btn m-b-xs w-xs btn-default">更多邀请码</button>
	</div>
	<div class="setting-row">
		<button class="btn m-b-xs w-xs btn-default" ng-click="invite()">邀请医生</button>
	</div>
	<div class="setting-row">
		<p>注意：一个邀请码只能邀请一位医生集团加入您的公司，邀请码在24小时内使用有效。</p>
	</div>
</div>

<script type="text/ng-template" id="inviteDocCreateGroupModalContent.html">
  <div class="modal-header">
      <h3 class="modal-title">邀请医生创建集团</h3>
  </div>
  <div class="modal-body">
    <div class="input-group">
  <input type="text" class="form-control" placeholder="请输入医生号/手机号">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="searchDoc()">查找</button>
  </span>
</div><!-- /input-group --> </div>
<div class="modal-body">
  	<div collapse="isCollapsed">
  		<p>查找结果：</p>
  		<img src="src/img/a0.jpg"/ style="width:100px;height:100px;display:inline-block;float:left;">
		<ul style="display:inline-block;float:left;">
			<li style="line-height:33px;">sdfsdf</li>
			<li style="line-height:33px;">333</li>
			<li style="line-height:33px;">sdfccccsdf</li>
		</ul>

		<button class="btn m-b-xs btn-sm btn-success btn-addon pull-right" ng-click="inviteDoc()" style="margin-top:30px;"> <i class="fa icon-action-redo"></i>
		邀请管理集团
		</button>

  		<div style="clear:both;"></div>
  </div>
	</div>
</script>