<div class="org hbox hbox-auto-xs hbox-auto-sm" ng-controller="Contacts">
  <div class="frame-panel">
    <div class="row">
      <!-- <div class="col-md-3 col-xs-0"></div> -->
      <div class="col-md-3 mrb-15">
        <h2 class="title-3 text-center">通讯录</h2>
      </div>
      <div class="col-md-9 mrb-10">
        <div class="pull-right">
          <button type="button" class="btn btn-info" ng-click="addUnit()">
          <i class="fa fa-fw fa-plus"></i>
          <span class="hid">添加</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 cnt-col-lt">
        <!--    <div ng-if="loading" class="loading">
                    <i class="glyphicon glyphicon-repeat"></i>
        </div> -->
        <div id="cnt_list" class="list-group">

          <dl class="cnt-list-warp">
            <dt><i class="fa fa-caret-right"></i><i class="fa fa-h-square"></i><span>儿科</span></dt>
            <dd>
              <dl>
                <dt><i class="fa fa-caret-right"></i><i class="fa fa-stethoscope"></i><span>儿外科</span></dt>
                <dd>
                  <dl>
                    <dd ng-click="forward('001')"><i class="fa fa-check"></i></i><span>小儿外科</span></dd>
                  </dl>
                </dd>
              </dl>
            </dd>

            <dd>
              <dl>
                <dt><i class="fa fa-caret-down"></i><i class="fa fa-hospital-o"></i><span>北大医院</span></dt>
                <dd>
                  <dl>
                    <dt><i class="fa fa-caret-down"></i><i class="fa fa-stethoscope"></i><span>大外科</span></dt>
                    <dd>
                      <dl>
                        <dd><i class="fa fa-check"></i><i class="fa fa-user-md"></i><span>皮肤性病科</span></dd>
                        <dd><i class="fa fa-check"></i><i class="fa fa-user-md"></i><span>心理（心身医学）科</span></dd>
                      </dl>
                    </dd>
                    <dd><i class="fa fa-check"></i><i class="fa fa-user-md"></i><span>骨外科</span></dd>
                  </dl>
                </dd>
              </dl>
            </dd>
            
            <dd><i class="fa fa-check"></i><i class="fa fa-h-square"></i><span>护理部</span></dd>
            <dd>
              <dl>
                <dt><i class="fa fa-caret-down"></i><i class="fa fa-hospital-o"></i><span>深圳市第一人民医院</span></dt>
                <dd>
                  <dl>
                    <dt><i class="fa fa-caret-down"></i><i class="fa fa-stethoscope"></i><span>大外科</span></dt>
                    <dd>
                      <dl>
                        <dd><i class="fa fa-user-md"></i><span>皮肤性病科</span></dd>
                        <dd><i class="fa fa-user-md"></i><span>心理（心身医学）科</span></dd>
                        <dd><i class="fa fa-user-md"></i><span>肝胆胰血管外科</span></dd>
                      </dl>
                    </dd>
                  </dl>
                </dd>
              </dl>
            </dd>
            <dd>
              <span class="badge bg-warning">14</span>
              <i class="fa fa-bookmark fa-fw m-r-xs"></i>
              <span>未分配</span>
            </dd>
            <dd>
              <span class="badge bg-info">30</span>
              <i class="fa fa-bell fa-fw m-r-xs"></i>
              <span>待审核</span>
            </dd>
            <dd>
              <span class="badge bg-danger">10</span>
              <i class="fa fa-clock-o fa-fw m-r-xs"></i>
              <span>离职</span>
            </dd>
          </dl>

          
          <div href="" class="list-group-item dropdown" dropdown>
            <i class="fa fa-chevron-down text-muted"></i>外科
            <button type="button" class="btn btn-default" dropdown-toggle aria-haspopup="true" aria-expanded="false"><span></span></button>
            <ul class="dropdown-menu">
              <li><a href="">添加</a></li>
              <li><a href="">删除</a></li>
            </ul>
            <ul class="dept-list">
              <li><span class="badge bg-default">7</span>心理（心身医学）科
              <button type="button" class="btn btn-default" dropdown-toggle aria-haspopup="true" aria-expanded="false"><span></span></button></li>
              <li class="cur-li"><span class="badge bg-default">10</span>烧伤科
              <button type="button" class="btn btn-default" dropdown-toggle aria-haspopup="true" aria-expanded="false"><span></span></button></li>
              <li><span class="badge bg-default">279</span>肝胆胰血管外科</li>
              <li><span class="badge bg-default">56</span>外科监护室</li>
            </ul>
          </div>
          <div href="" class="list-group-item">
            <span class="badge bg-warning">14</span>
            <i class="fa fa-bookmark fa-fw m-r-xs"></i>未分配
          </div>
          <div href="" class="list-group-item">
            <span class="badge bg-info">30</span>
            <i class="fa fa-bell fa-fw m-r-xs"></i>待审核
          </div>
          <div href="" class="list-group-item">
            <span class="badge bg-danger">10</span>
            <i class="fa fa-clock-o fa-fw m-r-xs"></i>离职
          </div>
        </div>
      </div>
      <div class="col-md-8 cnt-col-rt">
        <div class="panel panel-default">
          <div class="" ui-view></div>
        </div>
      </div>
    </div>
  </div>
</div>