<div ng-init="loading=true" ng-if="loading" class="loading">
  <i class="glyphicon glyphicon-repeat"></i>
</div>
<div ng-if="!loading" class="table-responsive" ng-controller="PositionController">
  <table id="positionList" class="table table-striped b-t b-b">
    <thead>
      <tr>
        <th><label class="i-checks"><input type="checkbox"><i></i></label></th>
        <th>编码</th>
        <th>名称</th>
        <th>状体</th>
        <th>所属组织</th>
        <th>备注</th>
        <th>生效时间</th>
        <th>失效时间</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>