<div ng-controller="GroupManageCtrl">
	<div class="panel">
		<div class="panel-heading b-b b-light">
			<button class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="linkToGroup()"> <i class="fa fa-plus"></i>
				创建新集团
			</button>
			<button class="btn m-b-xs btn-sm btn-success btn-addon" ng-click="linkToInvite()"> <i class="fa icon-action-redo"></i>
				邀请医生创建医生集团
			</button>
		</div>
		<div class="panel-body">

			<ul class="row row-sm">
				<li class="col-lg-3 col-md-4 col-sm-6" ng-repeat="group in groupList">
					<div class="panel b-a">
						<div class="panel-heading text-center bg-info no-border">
							<img src="src/img/a0.jpg">
						</div>
						<ul class="list-group">
							<li class="list-group-item"> <i class="fa fa-group m-r-xs"></i>
								{{group.name}}
							</li>
							<li class="list-group-item"> <i class="fa fa-user m-r-xs"></i>
								管理员：{{group.name}}
							</li>
							<li class="list-group-item">
								<i class="glyphicon glyphicon-time m-r-xs"></i>
								创建时间：{{group.creatorDate | date:'yyyy-MM-dd'}}
							</li>
						</ul>
						<div class="panel-footer text-center">
							<a href="" class="btn btn-info font-bold m">管理集团</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="panel-footer"></div>
	</div>

</div>